<footer>
    <div class="footer-content">
      <p>2023 Bake My Cake &copy;  All rights reserved.</p>
      <ul class="contact-us">
        <li><strong>Contact Us:</strong></li>
        <li><strong>Phone:</strong> +91 9845262422</li>
        <li><strong>Email:</strong> bakemycake@gmail.com</li>
        <li><strong>Address:</strong> 52, Alpha Street, Chennai, Tamil Nadu,India - 600018</li>
      </ul>
      <div class="social-media-icons">
        <a href="https://www.facebook.com/userID" target="_blank">
          <img src="../../assets/images/facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.twitter.com/userID" target="_blank">
          <img src="../../assets/images/twitter.png" alt="Twitter" />
        </a>
        <a href="https://www.instagram.com/userID" target="_blank">
          <img src="../../assets/images/insta.png" alt="Instagram" />
        </a>
      </div>
    </div>
  </footer>