<mat-toolbar id="head-container">
    <!-- <img src="../../assets/images/logo.jpg" alt="logo" class="logo"> -->
        <mat-toolbar-row class="spacer">
        <h2 class="header">Bake My Cake</h2></mat-toolbar-row>
        <mat-toolbar-row>
            <div class="sub"><p class="subtitle">Bake the World to Better Place || Since 1998</p></div></mat-toolbar-row>
       <mat-toolbar-row class="spacer" >
        <div class="icon" id="navigation">
            <mat-icon routerLink="/"><span class="material-symbols-outlined">home</span></mat-icon> 
            <mat-icon routerLink="login/"><span class="material-symbols-outlined">login</span></mat-icon> 
        </div>
    </mat-toolbar-row>
</mat-toolbar>
