.main-image{
    width: 300px;
    height:170px;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 10px;

}
.product-card{
        box-shadow: 2px 2px 2px darkgray;
        width: 350px;
        height:370px;
        max-height: 370px;
        margin: 30px 10px; ;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s ease-in-out;
        margin-left: 50px;

}
.product-card:hover{
    transform: scale(1.05);
}